*{
  margin: 0;
  font-family: 'open sens',sans-serif;
}
.header{
  background-color: 
  rgba(255, 248, 243, 1);
  background-image: url('../images/header_bg.png'),url('../images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right,left;
}
nav{
  display: flex;
  justify-content: space-between;
  /* margin: 50px 200px; */
  padding: 50px 200px;
}
.nav-title{

  font-weight: 800;
  font-size: 45px;
}
nav li{
  list-style: none;
  margin-left: 50px;
}
nav ul{
  display: flex;
  align-items: center;
}
.text-primary{
  color:#FD6E0A;
}
.btn-primary{
  height: 64px;
  border-radius: 5px;
  background-color: #FD6E0A;
  border: 0;
  padding: 18px 35px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}

/* banner-style */
.banner{
  display: flex;
  align-items: center;
  margin: 0 200px;
}
/* .banner img{
  width: 584px;
height: 676px;
transform: scaleX(-1);
} */
.author-greet{
font-weight: 600;
font-size: 45px;
line-height: 61px;
margin-bottom: 20px;
color: #474747;

}
.author-name{
  font-size: 85px;
  font-weight: 700;
 
}
.author-des{
color: #757575;
font-size: 18px;
margin-bottom: 30px;
}
.banner-btn{
  display: flex;
  gap: 30px;
}
.btn1{
display: grid;
grid-template-columns: 1fr 1fr ;
column-gap: 10px;
height: 64px;
border-radius: 5px;
background-color: #FD6E0A;
border: 0;
padding: 18px 35px;
color: #ffffff;
font-weight: 700;
font-size: 20px;
}

.btn2{
  height: 64px;
  border-radius: 5px;
  background-color: #fff8f3;
  border: 1px solid #FD6E0A;
  color: #FD6E0A;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
  display: flex;
  gap: 10px;

}

/* main-section */

main{
  max-width: 1140px;
  margin: 0 auto;


}
/* about section */
section{
  margin-top: 130px;
}
.about{
margin-top: 130px;
background-color: #fff8f3;
border-radius: 10px;
padding: 130px 150px;
}
.section-title{
  margin-top: 130px;
text-align: center;
margin-bottom: 30px;
font-size: 35px;

}
.section-description{
color: #757575;
font-size: 18px;
margin-bottom: 30px;
}
.about-info-conatiner{
 display: flex; 
 justify-content: space-around;

}
.about .info-title{
  font-size: 20px;
  color: #757575;
  text-align: center;
}
.info-des{
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}
/* What i do */
.wid{
font-weight: 700;
font-size: 35px;
margin-top: 130px;
margin-bottom: 30px;

text-align: center;
color: #181818;
}
.wid-des{
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  text-align: center;
  margin-bottom: 50px;
}

.skills-container{
  display: flex;
  gap: 24px;

}
.skill{
  background-color: #ffffff;
  padding: 30px 30px;
  border-radius: 5px;
  /* box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06); */
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.06);
  /* box-shadow: 60px -16px teal; */
}
.skill-title{
 
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-des{
  font-size: 16px;
 color: #474747;
}
/*  resume*/
.res-section-title{
  font-weight: 700;
font-size: 35px;
margin-top: 130px;
margin-bottom: 30px;

text-align: center;
color: #181818;
}
.resume-content{
  display: flex;
  gap: 24px;
}
.resume-item{
  margin-top: 30px;
  margin-bottom: 30px;
}
.resume .it-tit{
  font-size: 700;
  font-size: 25px;
  color: #474747;
margin-bottom: 10px;
}
.resume .it-tit2{
color: #757575;
font-weight: 600;
font-size: 20px;
margin-bottom: 20px;
}
.resume .des{
  color: #474747;
}
.resume-btn{
  margin-top: 50px;
  text-align: center;
  align-items: center;
}
.contact{
  display: flex;
  gap: 100px;
  background-color: #fff8f3;
  padding: 130px 200px;
}
.contact .section-title{
  text-align: left;
  
} 
.contact input[type="text"],input[type="email"],textarea{
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 30px;

}
.con-section-des{
  margin-bottom: 30px;
  color: #474747;
}
input{
height: 64px;
}
.contact a{
  text-decoration: none;
}